*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.MainApp{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.LeftApp{
    width: 50%;
    height: 100%;
    background-color: rgb(59, 136, 187);
    background-color:rgb(255, 255, 255)
}
.RightApp{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}
@media screen and (max-width: 769px){
    .LeftApp{
        display: none;
    }
    .RightApp{
        width: 100%;
    }
    .MainApp{
        background-color: blue;
    }
}
